<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo.png" id="logoap">
        </div>
        <div class="redes">
            <a href="https://www.linkedin.com/mwlite/in/lerghin-jesus-cardenas-insignares-771477116"><img src="../../../assets/linkedin.png" id="linkedin"></a>
            <a href="https://www.instagram.com/lerghin1/"><img src="../../../assets/instagram.png" id="instagram"></a>
            <a href="https://twitter.com/lerghinj"><img src="../../../assets/twitter.png" id="twitter"></a>
            <a href="https://github.com/Lerghin"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://m.facebook.com/lerghini?_rdr"><img src="../../../assets/facebook.png" id="facebook"></a>
            <button type="button" class="btn btn-outline-light" (click)="login()" *ngIf="!islogged"> INGRESO </button>
            <button type="button" class="btn btn-outline-light" (click)="onLogOut()"*ngIf="islogged"> CERRAR SESIÓN </button>
        </div>


    </div>

</div>