<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil1.png" class="img-fluid" id="fotoPerfil">

    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}}{{persona.apellido}}</p>
        <p>Full Stack Developer Jr.</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
       <span>
        <h1>Acerca de mí  </h1>
        <p>¡Hola! Soy Lerghin Cardenas, tengo experiencia en trabajos tanto administrativos como operativos en el área del Mantenimiento Aeronáutico, sin embargo actualmente me estoy formando como Desarrollador Web Full Stack, me encanta la tecnología y el uso que podamos desarrollar, para facilitarle la vida a los seres humanos.  </p>
     </span> 
    
    </div>
</div>
