.row{
padding: 20px;
background: rgb(17, 52, 85) ;
color:white;
}

.contenedor{
width:auto;
box-shadow: 2px 2px #999;

}
.parte1, .parte2{
display:inline-block;
text-align: justify;

}

.img-proyecto{
    float: right;
    box-shadow: 10px 10px 30px black;
    box-shadow: ejeX ejeY difumasion color;

}

h1{
    box-shadow: 2px 2px #999;
}